<mat-nav-list class="">
  <a
    class="mt-2"
    mat-list-item
    [routerLink]="'skills'"
    [routerLinkActive]="['active-link']"
    ><mat-icon fontIcon="school"></mat-icon>
    <span class="ml-4">Compétences</span></a
  >
  <a
    class="mt-2"
    mat-list-item
    [routerLink]="'projects'"
    [routerLinkActive]="['active-link']"
    ><mat-icon fontIcon="emoji_objects"></mat-icon>
    <span class="ml-4">Projets</span></a
  >
  <a
    class="mt-2"
    mat-list-item
    [routerLink]="'jobs'"
    [routerLinkActive]="['active-link']"
    ><mat-icon fontIcon="work"></mat-icon>
    <span class="ml-4">Expérience</span></a
  >
</mat-nav-list>
